.overlay {
    background-color: #0000002a;
    position: fixed;
    width: 100%;
    left: 0%;
    top: 0%;
    min-height: 100vh;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay>.newModelA {
    background-color: white;
    border-radius: 8px;
    transform: translate(2.2rem, 0.5rem);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 25px;
    width: 20%;
    transition: opacity 750ms;
}

.overlay>.newModelA .import {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: #c5c6d0;
    border-radius: 12px;
    transition: background-color 750ms, color 750ms;
}

.overlay>.newModelA .import:hover {
    color: white;
    background-color: #293140;
}

.newModelA .modelChild {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.newModelA .modelChild>*:first-child{
    align-self: flex-end;
    transform: translate(.6rem, -.6rem);
    cursor: pointer;
}

.newModelA>button {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    background-color: #28666e;
    transition-property: background-color, padding;
    transition-duration: 450ms;
    width: 100px;

}

.newModelA>button:hover {
    background-color: #1c98a8;

}

/* .overlay>.newModel.fade{
    opacity: 1;
} */