.upbill {
    display: flex;
    justify-content: space-between;
    margin: 3px 8px;
    align-items: center;
}

.bill-filter {
    display: flex;
    align-items: center;
    margin: 10px 4%;
    margin-right: 0px;

}

.bill-filter .fil-con {
    flex: 1;
    display: flex;
    justify-content: space-around;
    gap: 8px;
}

.bill-filter .fil-con>div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.bill-filter .fil-con>div>div {
    display: flex;
    gap: 10%;
    align-items: center;
}

.bill-filter .fil-con #date::placeholder {
    color: white;
}


.bill-filter .fil-con #date {
    min-width: 75%;
    padding: 6px;
    border-radius: 10px;
    border: none;
    background-color: #38445a;
    border: 2px solid #293140;
    transition: all 1s;
    color: white;
}

.bill-filter .fil-con input[type="date"]#date {
    background-color: #293140;
    outline: none;
    border: 2px solid #38445a;
}

.bill-filter .fil-con button {
    border-radius: 10px;
    background-color: #38445a;
    border: none;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 750ms;
}

.bill-filter .fil-con button:hover {
    background-color: #293140;
}

#add-bill {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    background-color: #28666e;
    transition-property: background-color, padding;
    transition-duration: 450ms;

}

#add-bill:hover {
    background-color: #146e7a;
    padding: 10px 18px;

}