.ActivitiesTransaction {
    /* width: 100%; */
    height: 540px;
    background: #FFFFFF;
    margin-left: 20px;
    border-radius: 10px;
    /* padding: 20px; */
    /* overflow: hidden; */
    Overflow: auto
}

.ActivitiesTransaction::-webkit-scrollbar {
    width: 10px;
    background-color: #64B6E3;
}

.activitiesdivs img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #ffffff;
}

.ActivitiesTransaction h3 {
    padding: 20px 20px 0;
    letter-spacing: 1.2px;
}

.ActivitiesTransaction .filterandsearch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.ActivitiesTransaction .filterandsearch .filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 15px;
    width: 100%;
}

.filterBy {
    display: flex;
    align-items: center;
    gap: 15px;
}

.ActivitiesTransaction .filterandsearch .filter h5 {
    font-size: 16px;
    letter-spacing: 1px;
}

.ActivitiesTransaction .filterandsearch .filter button {
    height: 45px;
    font-size: 16px;
    width: 150px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: #64B6E3;
    color: #FFFFFF;
    cursor: pointer;
}

.ActivitiesTransaction .activitiesdivs,
.ActivitiesTransaction .activitiesdivs .oneactivity {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.ActivitiesTransaction .activitiesdivs .oneactivity .date_activity {
    padding: 0 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    color: #a0a0a0;
    height: 20px;
}

.ActivitiesTransaction .activitiesdivs .oneactivity .user_activity {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    background: #acdef8;
    height: 45px;
}

.oneactivity .user_activity .user_profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.oneactivity .user_activity .user_profile img {
    height: 40px;
    width: auto;
}

.oneactivity .user_activity .user_profile h3 {
    padding: 20px;
    font-weight: 200;
}

.oneactivity .user_activity p {
    font-size: 13px;
}

.oneactivity .user_activity span {
    color: #20c220;
}

.dateTransactions {
    background: #acdef8;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #bfe2f5;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

select {
    padding: 12px 50px;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #acdef8;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    cursor: pointer;
    text-overflow: '';
}
@media only screen and (max-width:1038px) {
    .ActivitiesTransaction{
        margin-right: 40px;
    }
    .filterBy{
        flex-direction: column;
        gap:5px;
    }
}
@media only screen and (max-width:1022px) {
    .ActivitiesTransaction .filterandsearch .filter{
        align-items: flex-end;
    }
    .dateTransactions{
        padding: 6px 8px;
        font-size: 13px;
    }
    select{
        padding: 8px 38px;
        font-size: 13px;
    }
    .ActivitiesTransaction .filterandsearch .filter button{
        height: auto;
        font-size: 14px;
        /* width: 150px; */
        border-radius: 20px;
        padding: 8px 22px;
    }
    
    .oneactivity .user_activity p{
        font-size: 12px;
    }
}
@media only screen and (max-width:757px) {
    .inputsFilter{
        flex-direction: column;
        gap: 5px;
    }
    .user_profile{
        flex-direction: column;
    }
    .oneactivity .user_activity .user_profile img{
        height: 30px;
    }
     .oneactivity .user_activity .user_profile h3{
        padding: 0px;
        font-size: 15px;
    }
}