.newsroom{
    height: 640px;
    background: #FFFFFF;
    width: 100%;
}
.newsroom .title{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.newsroom .title h4{
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 4px;
    letter-spacing: 0.5px;
    text-shadow: 0px 7px 2px rgba(0, 0, 0, 0.22);
}
.newsroom .title .line{
    width: 45px;
    height: 3.7px;
    background: #37647D;
    border-radius: 3px;
}
.newsroom .cards{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    flex-wrap: wrap;
}
.cards .card{
    height: 362px;
    width: 249px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    position: relative;
    cursor: pointer;
}
.cards .card .img{
    width: 100%;
}
.card .img img{
    width: 100%;
}
.card .content{
    padding: 5px;
}
.content .date{
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.content .date button{
    width: 52px;
    height: 26px;
    border-radius: 8px;
    background: #37647D;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    align-items :Center;
    margin-right: 10px;
}
.content .date p{
    width: 52px;
    height: 20px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #625E5E;
}
.content .text{
    padding: 5px;
    margin-top: 10px;
    
}
.content .text h4{
    font-size: 11.6px;
    line-height: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 7px;
}
.content .text p{
    padding: 0 10px;
    font-weight: 324;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #000000;
}
.card .btn{
    position: absolute;
    bottom: 15px;
    width: 25px;
    background: inherit;
    border-bottom: 2.7px solid #000000;
    font-weight: 700;
    margin-left: 13px;
    /* border-radius: 3px; */
}
.card .btn button{
    outline: none;
    border: none;
    width: 60px;
    font-size: 13px;
    font-weight: bold;
    background: inherit;
}
.newsroom .btn-seeAllNews{
    margin-top: 30px;
    width: 100%;
    background: inherit;
    display: flex;
    justify-content: center;
}
.btn-seeAllNews button{
    height: 50px;
    width: 243px;
    border-radius: 20px;
    background: #64B6E3;
    border: none;
    outline: none;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.btn-seeAllNews button:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

