.Header_Dashboard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background: inherit;
}
.Header_Dashboard h1{
    font-size: 25px;
    letter-spacing: 1.5px;
    margin-left: 10px;
}
.Header_Dashboard p{
    font-size: 14px;
}
.Header_Dashboard p span{
    font-weight: bold;
}