.Header_Dashboard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background: inherit;
}
.Header_Dashboard h1{
    font-size: 25px;
    letter-spacing: 1.5px;
    margin-left: 10px;
}
.Header_Dashboard .btnBars{
    background: none;
    border: none;
    font-size: 25px;
    color: rgba(55,100,125,1);
    margin-right: 15px;
    display: none;
}
.Header_Dashboard p{
    font-size: 14px;
}
.Header_Dashboard p span{
    font-weight: bold;
}
@media only screen and (max-width:1038px) {
    .Header_Dashboard .btnBars{
        display: block;
    } 
}