.SideBar{
    /* width: 190px; */
    height: 600px;
    margin: 10px 10px 30px;
    border-radius: 10px;
    padding: 10px;
    background: #FFFFFF;
    font-size: 14px;
    flex: 1;
}
.SideBar .LogoSideBar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.SideBar .LogoSideBar img{
    width: 100px;
    height: auto;
}
.SideBar .LinksDashBoard{
    margin: 30px 10px;
}
.LinksDashBoard ul{
    list-style: none;
}
.LinksDashBoard ul li{
    color: #696969;
    margin: 30px 0;
}
.LinksDashBoard ul li a{
    color: #696969;
    text-decoration: none;
    margin-left: 5px ;
}
.LinksDashBoard ul li svg{
    margin-bottom: -3px;
}
/* @media only screen and (max-width:1016px) {
    .LinksDashBoard ul li{
        font-size: 12px;
    }
    .SideBar .LogoSideBar img{
        width: 80px;
        height: auto;
    }
} */
@media only screen and (max-width:914px) {
    /* .LinksDashBoard ul li{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .SideBar .LogoSideBar img{
        width: 60px;
        height: auto;
    } */
    .LinksDashBoard ul li{
        font-size: 12px;
    }
    .SideBar .LogoSideBar img{
        width: 100px;
        height: auto;
    }
}
@media only screen and (max-width:500px) {
    .LinksDashBoard ul li{
        font-size: 18px;
        align-items: flex-start;
    }
    .LinksDashBoard ul li a{
        display: none;
    }
    .SideBar .LogoSideBar{
        justify-content: flex-start;
    }
    .SideBar .LogoSideBar img{
        width: 40px;
        height: auto;
    }
}
