.SideBar{
    width: 190px;
    height: 600px;
    margin: 10px 10px 30px;
    border-radius: 10px;
    padding: 10px;
    background: #FFFFFF;
    font-size: 14px;
}
.SideBar .LogoSideBar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.SideBar .LogoSideBar img{
    width: 100px;
    height: auto;
}
.SideBar .LinksDashBoard{
    margin: 30px 10px;
}
.LinksDashBoard ul{
    list-style: none;
}
.LinksDashBoard ul li{
    color: #696969;
    margin: 30px 0;
}
.LinksDashBoard ul li a{
    color: #696969;
    text-decoration: none;
    margin-left: 5px ;
}
.LinksDashBoard ul li svg{
    margin-bottom: -3px;
}