.Footer{
    height: 200px;
    width: 100%;
    background: #37647D;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    border-top: 3px solid #FFFFFF;
}
.Footer .divs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px 0;
}
.Footer .divs .logo{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Footer .divs .logo img{
    width: 100px;
    height: auto;
}
.Footer .services h4, .Footer .reseaux-sociaux h4{
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 500;
    letter-spacing: 1px;
}
.Footer ul{
    margin-left: 20px;
}
.Footer ul li{
    font-size: 13px;
    margin-top: 10px;
    margin-right: 60px;
}
.Footer .reseaux-sociaux .icons i{
    font-size: 20px;
    margin-right: 15px;
}
.Footer .rights p{
    margin: 0 500px;
}