.Accounts_div{
    width: 215px;
    height: 640px;
    background: #FFFFFF;
    margin: 0 0 0 40px;
    padding: 20px 15px;
    flex: 1;
}
.Accounts_div .notifications, .Accounts_div .accounts .accounts_head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Accounts_div .notifications{
    padding: 0 10px 10px;
}
.Accounts_div .notifications img{
    height: 25px;
    width: auto;
}
.Accounts_div .accounts_body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 10px 0;
}
.Accounts_div .accounts_body .square{
    height: 40px;
    width: 50px;
    border-radius: 6px;
    background: #37647D;
}
.Accounts_div .receivers{
    margin: 20px 0;
}
.Accounts_div .receivers .cercles{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    gap: 10px;
}
.Accounts_div .receivers img{
    height: 40px;
    width: auto;
}
.Accounts_div .recent_activity h5{
    font-size: 15px;
}

.Accounts_div .recent_activity .activities{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    /* margin-top: 10px; */
}
.Accounts_div .recent_activity .activities .activity{
    display: flex;
    gap: 7px;
   
}
.recent_activity .activities img{
    height: 35px;
    width: auto;
}
.recent_activity .activities .descreption_activity h5{
    font-size: 12px;
}
.recent_activity .activities .descreption_activity P{
    font-size: 10px;
}
.recent_activity .activities span{
    font-size: 12px;
}