.Header_Settings_Links{
    width: 100%;
    height: 70px;
    margin:0 20px 20px;
    background: #FFFFFF;
    border-radius: 10px;
}
.Header_Settings_Links ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 90px;
}
.Header_Settings_Links ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
}
.Header_Settings_Links ul li a{
    text-decoration: none;
    color: black;
}