.middle_div{
    margin-bottom: 30px ;
}
.Balence{
    width: calc(50% - 5px);
    height: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Balence p{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    color: #20c220;
    background: rgb(182, 233, 197);
}
.Expenses{
    width: calc(50% - 5px);
    height: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 13px;

}
.Transactions{
    margin: 0 20px;
    width: 100%;
    height: 270px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 13px;
}