.middle_div{
    margin-bottom: 30px;
}
.middle_div .dates-dashboard{
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}
.dates-dashboard input{
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    background: none;
    margin-top: -135px;
}
.Balence{
    width: calc(50% - 5px);
    height: auto;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.Balence p{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    color: #20c220;
    background: rgb(182, 233, 197);
}
.Expenses{
    width: calc(50% - 5px);
    height: auto;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 13px;
    padding: 20px 0 30px;

}
.Transactions{
    padding: 10px;
    margin: 0 20px;
    width: 100%;
    height: auto;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 13px;
}
.Transactions p{
    color: #979797;
    text-align: center;
}
