.calendar{
    width:100% ;
    height: 100% !important;
}
.react-calendar{
    width: calc(100% - 200px) !important;
    height: 470px !important;
    background: #fff;
    margin: 50px 100px!important;
    border-radius: 20px;
    border: none !important;
    padding: 20px !important;
}
.react-calendar__month-view__weekdays{
    /* margin: 20px !important; */
    height: 100px !important;
    /* background: linear-gradient(#4C8BAD ,#64B6E3) !important; */
    text-align: center !important;
    padding-top: 30px !important;
    /* color: #ffffff !important; */
    font-size: 15px !important;
    text-decoration: none !important;
}
.react-calendar__month-view__days{
    height: 100% !important;
    padding: 30px !important;
}
.react-calendar__tile--now {
    background: #d4e3eb !important;
    /* border-radius: 100% !important; */
}
.react-calendar__tile--now:enabled:hover, .react-calendar__tile--now:enabled:focus {
    background: #d4e3eb !important;
}
.react-calendar__navigation button:enabled:hover, .react-calendar__navigation button:enabled:focus {
    background-color: #ffffff !important;
    font-size: 22px !important;
}
.react-calendar__navigation__label__labelText{
    font-size: 22px !important;
    /* color: #4C8BAD !important; */
    font-weight: bold;
    width: 100%;
}
.react-calendar__month-view__days__day--weekend {
    color: #37647D !important;
}
.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus{
    background: #437975 !important;
}
.react-calendar__tile--active {
    background: #437975 !important;
    color: white;
}
.react-calendar button {
    font-size: 20px !important;
}
.react-calendar__navigation__arrow{
    color: #437975 !important;
}
.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button , .react-calendar__navigation__arrow.react-calendar__navigation__prev-button, .react-calendar__navigation__arrow.react-calendar__navigation__next-button, .react-calendar__navigation__arrow.react-calendar__navigation__next2-button{
   font-size: 30px !important;
}
.react-calendar__tile--active {
    background: #437975 !important;
    color: white !important;
}
abbr[title] {
    text-decoration: none !important;
}
.react-calendar__tile--hasActive {
    background: #437975 !important;
    color: #ffffff !important;
}
.special-date{
    height: 5px;
    width: 5px;
    border-radius: 100%;
    background: red;
}
