.reset-container {
    display: flex;
    justify-content: center;

}

.reset-container>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */
    border-radius: 12px;
    margin-top: 18px;
    padding: 16px;
    width: max(300px,30%);
    background-color: #8d9cb93f;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.reset-container>div .logoR img {
    width: 100%;
}

.reset-container>div .logoR>div {
    width: 45%;
}

.reset-container>div>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.reset-container .input>label {
    align-self: flex-start;
    font-weight: 600;
    font-size: 16px;
    color: #293140;
    ;
}

.reset-container .input>input {
    align-self: flex-start;
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #293140;
    ;
}
.reset-container .input> ul{
    color: red;
    align-self: flex-start;
    padding-left:25px ;
}
.reset-container button {
    margin-top: 14px;
    align-self: center;
    width: 75%;
    padding: 8px;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: #4a5b7a;
    cursor: pointer;
    transition: background-color 750ms;
}

.reset-container button:hover {
    background-color: #293140;
}