.Change_Password{
    width: calc(100% - 300px);
    margin: 20px 150px;
    height: 420px;
    border-radius: 20px;
    padding: 30px;
    background: #FFFFFF;
}
.Change_Password h3{
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    color: #696969;
    padding: 10px;
}
.Change_Password p{
    color: #9b9b9b;
    font-size: 15px;
    text-align: center;
    border-bottom: 1px solid #dadada;
}
.Change_Password .form_change_pass{
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Change_Password .form_change_pass .groups_inputlabel{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 20px;
    position: relative;
}
.Change_Password .form_change_pass .groups_inputlabel i{
    position: absolute;
    right: 113px;
    color: rgb(27, 202, 27);
}
.Change_Password .form_change_pass .groups_inputlabel label{
    font-size: 16px;
    font-weight: 500;
}
.Change_Password .form_change_pass .groups_inputlabel input{
    width: 240px;
    height: 35px;
    border-radius: 40px;
    border: none;
    outline: none;
    background: #dadada;
    padding: 20px;
    font-size: 15px;
}
.Change_Password .form_change_pass .btnDivs{
    width: calc(100% - 100px);
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.Change_Password .form_change_pass button{
    border: none;
    outline: none;
    background: #4C8BAD;
    width: 150px;
    height: 40px;
    margin: 25px 0 5px;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 15px;
    cursor: pointer;
}
#changePasswordForm{
    margin-top: 10px ;
    /* width: 500px; */
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-direction: column;
    border-radius: 20px;
}
.ant-form-item{
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ant-form-item-control-input-content{
    width: 240px;
    height: 35px;
    
}
.ant-input-affix-wrapper{
    border-radius: 20px;
    width: 240px;
    height: 40px;
    outline: none;
    border: none;
    padding:0 20px;
    background: #dadada;
}
.ant-input{
   background: #dadada; 
}
.anticon svg{
    color: #4C8BAD;
}
.ant-btn{
    border-radius: 20px;
    height: 40px;
    width: 170px;
    background: #4C8BAD;
    margin-top: 20px;

}
.ant-btn.submit-btn{
    background: rgb(107, 204, 107);
}
.ant-form-item-control-input-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
