.Info_User{
    width: 100%;
    height: 450px;
    margin: 20px;
    
}
.Info_User h3{
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    color: #696969;
    padding: 10px;
}
.Info_User .profile_info{
    display: flex;
    flex-direction: column;
    padding: 20px 30px 20px;
    background:#FFFFFF;
    height: 220px;
    width: 550px;
}
.Info_User .profile_info h5{
    font-size: 17px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dadada;
}
.Info_User .profile_info .profile{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Info_User .profile_info .profile .avatar, .Info_User .profile_info .profile .fullname{
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 15px;
}
.profile_info .profile .avatar img{
    width: 60px;
}
.profile_info .profile .avatar input{
    width: 130px;
    height: 35px;
    border: none;
    outline: none;
    background: #4C8BAD;
    border-radius: 20px;
}
.Info_User .profile_info .profile .fullname{
    margin-top: 20px;
    gap: 20px;
}
.Info_User .profile_info .profile .fullname label{
    margin-right: 20px;
}
.Info_User .profile_info .profile .fullname input{
    width: 170px;
    height: 40px;
    border: none;
    outline: none;
    background: #dadada;
    border-radius: 20px;
    padding: 20px;
    font-size: 15px;
}
.Info_User .adresse-div{

}
