.form-account{
    width: calc(100% - 100px);
    height: 500px;
    background: #ffffff;
    margin-left: 70px;
    border-radius: 20px;
    padding: 30px;
}
.form-account .inputs-add-account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.form-account .inputs-add-account input{
    width: 300px;
    height: 50px;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 16px;
    background: #dadada;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.form-account h3{
    text-align: center;
    font-size: 23px;
    letter-spacing: 1px;
    color: #4C8BAD;
    padding: 10px;
    border-bottom: 1px solid #dadada;
}
.btns-add-account{
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.btns-add-account .btn{
    border-radius: 20px;
    height: 45px;
    width: 220px;
    background: #4C8BAD;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 17px;
    cursor: pointer;
}
.btns-add-account .btn.my-accounts{
    background: rgb(107, 204, 107);
}