.AccountsCards{
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    background: #FFFFFF;
}
.AccountsCards h3{
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 1.2px;
}
.AccountsCards .MyAccountsDiv{
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    height: auto;
}
.AccountsCards .MyAccountsDiv .MyAccount{
    width: calc(100% / 3 - 10px);
    height: 310px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    position: relative;
}
.MyAccountsDiv .MyAccount .dateCreation{
    width: 100%;
    height: 40px;
    background: #64B6E3;
    position: absolute;
    bottom: 25px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.MyAccount .dateCreation p{
    font-size: 12px;
}
.MyAccount .dateCreation p span{
    font-weight: bold;
    font-size: 13px;
}
.LastDivAccount{
    width: calc(100% / 3 - 10px);
    height: 310px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.LastDivAccount .AddAccount{
    width: 100px;
    height: 100px;
    border: 2px solid #929292;
    border-style: dotted;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.LastDivAccount .AddAccount i{
   font-size: 18px;
   color: #929292;
}
.LastDivAccount .AjouterAccount{
    margin-top: 10px;
    color: #7a7a7a;
    cursor: pointer;
}
.MyAccountsDiv .MyAccount .infos {
    width: 100%;
    text-align: center;
}
.delete-edit-btn{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.delete-edit-btn i{
    color: #2e2e2e;
    cursor: pointer;
}
.group-input-account{
    padding:0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.label-account{
    font-size: 14px;
    color: #6e6e6e;
}
.info-account{
    font-size: 16px;
}
.group-input-account-balance{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.info-account-balance{
    color: #64B6E3;
    font-size: 35px;
}
.info-account-balance span{
    color: #2e2e2e;
    font-size: 14px;
    margin-left: 3px;
}
@media only screen and (max-width: 1000px) {
    .AccountsCards .MyAccountsDiv .MyAccount{
        width: calc(100% / 2 - 10px);
        height: 310px;
    }
    .LastDivAccount{
        width: calc(100% / 2 - 10px);
        height: 310px;
    }
  }
@media only screen and (max-width: 730px) {
    .AccountsCards .MyAccountsDiv .MyAccount{
        width: calc(100% - 10px);
        height: 310px;
    }
    .LastDivAccount{
        width: calc(100% - 10px);
        height: 310px;
    }
  }

