.Accounts_div2{
    width: 215px;
    height: 120vh;
    background: #FFFFFF;
    margin: 0 0 0 40px;
    padding: 20px 15px;
    position: relative;
    flex: 1;
}
.Accounts_div2 .notifications, .Accounts_div2 .accounts .accounts_head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Accounts_div2 .notifications{
    padding: 0 10px 10px;
}
.Accounts_div2 .notifications img{
    height: 25px;
    width: auto;
}
.Accounts_div2 .accounts_body{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start !important;
    gap: 10px;
    margin: 10px 0;
    flex-wrap: wrap;
}
.Accounts_div2 .accounts_body .square{
    height: 40px;
    width: 55px;
    border-radius: 6px;
    background: linear-gradient(#37647D, #64B6E3) !important;
    display: flex;
    align-items: center;
    padding: 5px;
}
.square p{
    font-size: 11px;
    color: #FFFFFF;
    text-align: center;
}
.Accounts_div2 .accounts_body .square:hover p{
    font-size: 13px;
}
.Accounts_div2 .receivers{
    margin: 20px 0;
}
.Accounts_div2 .receivers .cercles{
    /* height: 70px; */
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    margin: 10px 0;
    gap: 10px;
    overflow-x: scroll;
}
.cercles::-webkit-scrollbar {
    width: 2px;
}
.Accounts_div2 .receivers img{
    height: 37px;
    width: auto;
}
.Accounts_div2 .recent_activity h5{
    font-size: 15px;
}

.Accounts_div2 .recent_activity .activities{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    /* margin-top: 10px; */
}
.Accounts_div2 .recent_activity .activities .activity{
    display: flex;
    gap: 7px;
   
}
.recent_activity .activities img{
    height: 35px;
    width: auto;
}
.recent_activity .activities .descreption_activity h5{
    font-size: 12px;
}
.recent_activity .activities .descreption_activity P{
    font-size: 10px;
}
.recent_activity .activities span{
    font-size: 12px;
}
.profile_div{
    position: absolute;
    width: 200px;
    height: 160px;
    background: #FFFFFF;
    top: 50px;
    right: 20px;
    border-radius: 8px;
    display: none;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.profile_div.active{
    display: block;
}
.profile_div .body_profile_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.btns_profile_div{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btns_profile_div button{
    margin-top: 6px;
    padding: 3.5px 7px;
    border: none;
    outline: none;
    background: rgba(77,189,250,0.6643032212885154);
    color: #FFFFFF;
    border-radius: 2px;
    cursor: pointer;
}
.btns_profile_div button:hover{
    opacity: 0.7;
}
.btns_profile_div .logout_btn{
    background: rgba(55,100,125,1);
}
