.ALL{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
}
.ALL .dashbord{
    width: 100%;
    /* height:100vh; */
    background: linear-gradient(0deg, rgba(55,100,125,1) 0%, rgba(164,223,255,1) 59%, rgba(77,189,250,0.6643032212885154) 100%);;
    display: flex;
    align-items: flex-start;
}
.ALL .dashbord .container{
    flex: 4;
    width: 850px;
    margin-left: -10px;
}
.dashbord .container .middle{
    margin: 10px 20px;
    width: 100%;
    height: 200px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
/* @media only screen and (max-width: 1170px) {
    .ALL .dashbord{
        display: flex;
        flex-direction: column;
    }
    .SideBar{
        width: 100%;
        display: flex;
        height: autp;
        margin-right: 50px;
    }
    .SideBar .LinksDashBoard ul{
        display: flex;
    }
} */



